* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
  height: 90vh;
}

@media(min-width: 750px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.fm-container__box {
  margin: 1rem;
}

.fm-header__title {
  text-align: center;
  margin-bottom: 2rem;
}

.fm-header__title h2 {
  color: hsl(300, 43%, 22%);
  margin-bottom: 1rem;
}

.fm-star__box {
  padding: 1rem;
  text-align: center;
  background-color: hsl(300, 24%, 96%);
  margin-bottom: 1rem;
  border-radius: .5rem;
}

.fm-star__box p {
  color: hsl(300, 43%, 22%);
  font-weight: 600;
  margin-top: .5rem;
}

.fm-box__first {
  color: hsl(0, 0%, 100%);
  background-color: hsl(300, 43%, 22%);
  padding: 2rem;
  border-radius: .5rem;
  margin: 1rem 0;
  cursor: default;
}

.fm-box__first:hover {
  background-color: hsl(300, 35%, 18%);
}

.box-first {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.box-first img {
  width: 40px;
  border-radius: 50px;
}

.box-content {
  margin-left: 1rem;
}

.box-content__name {

  font-weight: 700;
}

.box-content__title {
  color: hsl(333, 80%, 67%);
}

@media(min-width: 750px) {
  .fm-container {
    margin: auto;
  }
  
  .fm-container__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}