* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
  height: 90vh;
  position: relative;
  background: url(/images/bg-pattern-top-desktop.svg),
              url(/images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom 30vh right 1vw, top 10vh left 1vw;
  background-size: cover;
}

@media(min-width: 750px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.fm-container__box {
  margin: 1rem;
}

.fm-header__title {
  text-align: center;
  margin-bottom: 2rem;
}

.fm-header__title h2 {
  font-size: 1.6rem;
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  margin-bottom: 1rem;
}

.fm-header__title p {
  color: hsl(300, 43%, 22%);
}

.fm-star__box {
  padding: 1rem;
  text-align: center;
  background-color: hsl(300, 24%, 96%);
  margin-bottom: 1rem;
  border-radius: .5rem;
}

.fm-star__box p {
  color: hsl(300, 43%, 22%);
  font-weight: 600;
  margin-top: .5rem;
}

.fm-box__first {
  color: hsl(0, 0%, 100%);
  background-color: hsl(300, 43%, 22%);
  padding: 2rem;
  border-radius: .5rem;
  margin: 1rem 0;
  cursor: default;
}

.fm-box__first:hover {
  background-color: hsl(300, 35%, 18%);
}

.box-first {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.box-first img {
  width: 40px;
  border-radius: 50px;
}

.box-content {
  margin-left: 1rem;
}

.box-content__name {

  font-weight: 700;
}

.box-content__title {
  color: hsl(333, 80%, 67%);
}

@media(min-width: 750px) {
  .fm-container {
    margin: auto;
  }

  .fm-container__box {
    max-width: 1200px;
  }
  
  .fm-container__box {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "top middle" "bottom bottom";
  }

  .fm-header__title {
    grid-area: top;
  }

  .fm-header__stars {
    grid-area: middle;
    padding: 2rem;
  }

  .fm-container__box2 {
    grid-area: bottom;
  }

  .fm-container__box2 {
    display: flex;
    align-items: flex-end;
    padding: 1rem;
  }

  .fm-box__first {
    margin: 1rem;
  }

  .fm-header__title {
    padding: 2rem;
  }

  .fm-header__title h2 {
    font-size: calc(2rem + 1vw);
    text-align: left;
    font-weight: 700;
  }

  .fm-header__title p {
    text-align: left;
    padding-right: 5rem;
  }

  .fm-star__box {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 1rem 3rem 1rem 2rem;
  }

  .stars {
    margin-top: 8px;
    margin-right: 1rem;
  }

  .box_01 {
    margin-bottom: 4rem;
  }

  .box_02 {
    margin-bottom: 2rem;
  }
}

@media(min-width: 1080px) {
  .fm-header__stars {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: left;
  }

  .mx-star-box {
    margin-right: 8rem;        /* This is a specific margin for the star box only */
  }

  .mx-star-box_1 {
    margin-right: 2rem;        /* This is a specific margin for the star box only */
  }
}